﻿@model IEnumerable<User>

@{
    ViewData["Title"] = "All Users";
}

<h2>All Users</h2>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.Id</td>
                <td>@r.Name</td>
                <td>@r.Email</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
    </tbody>
</table>